.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 97%;

  h1 {
    font-weight: 300;
    font-size: 24px;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
    }

    input,
    select {
      width: 80px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px;
      font-size: 14px;
    }
  }
  .top {
    input {
      width: 100%;
    }
  }

  .button {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    button {
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: #fece51;
      margin-top: 10px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
